
.link.color-link {
    color: #FFEF00
  }
  
  .link.color-link:hover {
    color: #FFEF00;
  }
  .btn {
    background: #FFEF00;
  }
  
  blockquote {
    background: #FFEF00;
  }
  
  .custom-list li:before {
    border: solid 2px #FFEF00;
  }
  
  .info-bar .header .avatar .lamp-light .available-lamp {
    background: #FFEF00;
  }
  
  .info-bar .name:hover a {
    color: #FFEF00
  }
  
  .info-bar .knowledge-list li:before {
    color: #FFEF00;
  }
  
  .menu-bar .language-change li.active-lang {
    background-color: #FFEF00;
  }
  
  .code i {
    color: #FFEF00
  }
  
  .counter-frame .counter-box .counter {
    color: #FFEF00;
  }
  
  .counter-frame .counter-box .counter-plus {
    color: #FFEF00;
  }
  
  .price.popular-price:before {
    background: #FFEF00
  }
  
  .price .price-body .price-cost .number {
    color: #FFEF00;
  }
  
  .price .price-body .price-list li:before {
    color: #FFEF00
  }
  
  .price .price-body .price-list li.empty-item:before {
    color: #FFEF00
  }
  
  .testimonial .testimonial-footer .star-rate {
    color: #FFEF00
  }
  
  .slider-navigation .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #FFEF00;
  }
  
  .fancybox-progress {
    background: #FFEF00;
  }
  
  .fancybox-thumbs__list a:before {
    border-color: #FFEF00;
  }
  
  .timeline .timeline-item .timeline-mark {
    border: solid 3px #FFEF00;
  }
  
  .form-field textarea.active {
    border-color: #FFEF00
  }
  
  .form-field textarea:focus {
    border-color: #FFEF00
  }
  
  .contact-form .input.active+label, .contact-form .input:focus+label {
    background: #FFEF00;
  }
  
  .pagination .pagination-center a.active-pag {
    color: #FFEF00
  }

  .doc-languages li.current a{
    color: #FFEF00
  }
  
  
  .preloader-load path:last-child {
    
  }
  
  .line-progress path:last-child {
    stroke: #FFEF00;
  }
  
  .cirkle-progress path:last-child {
    stroke: #FFEF00;
  }