html, body, .container-fluid {
    font-family: 'Montserrat', sans-serif;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    box-shadow: none; 
    border: 1px solid transparent !important;
}

.btn-primary:not(:disabled):not(.disabled):active{
    box-shadow: none !important; 
    border: 1px solid transparent !important;
}

h1, h2, h3, h4, h5 {
    font-family: 'Audiowide', cursive;
}