/* -------------------------------------------

Name: 		Arter
Version:  1.0
Author:		Nazar Miller (millerDigitalDesign)
Portfolio:  https://themeforest.net/user/millerdigitaldesign/portfolio?ref=MillerDigitalDesign

p.s. I am available for Freelance hire (UI design, web development). mail: miller.themes@gmail.com

------------------------------------------- */
/*--------------------------------------------

1. common
      - fonts
      - text defaults
      - title defaults
      - text config
      - container
      - buttons frame
      - suptitle
      - divider
      - image defaults
      - link defaults
      - table
      - quote
      - list
2. link
3. buttons
4. space
5. app marcup
      - top background
      - preloader
      - scroll frame
      - app
      - mobile top bar
      - info bar
      - content
      - menu bar
      - marcup media queries
6. info bar
      - header
      - name
      - language skills
      - hard skills
      - knowledge
      - info bar links
      - social links
      - progresbar color
7. menu bar
      - main menu
      - language change
      - current page title
8. content
      - section title
      - card
      - banner
      - typing code
      - counters
      - services
      - price
      - testimonials
      - timeline
      - contact form
      - blog
      - pagination
      - brands
      - footer
9. portfolio
      - filter
      - portfolio items
      - touch device querie
      - single project
      - fancybox customization
10. media queries
11. burger button
12. transitions
      - in animation
      - out animation


--------------------------------------------*/
/*
$main-color: #FFC107
$main-color: #f44336;
$main-color: #4CAF50;
$main-color: #64B5F6;
*/
/* ------------------------------

common

------------------------------ */
/* ----- fonts ----- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* ----- text defaults ----- */
body {
  color: #8c8c8e;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-smooth: subpixel-antialiased;
}

/* ----- title defaults ----- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #fafafc;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 52px;
  font-weight: 800;
}

h4 {
  font-size: 17px;
  font-weight: 600;
}

h5 {
  font-size: 14px;
  font-weight: 600;
}

h6 {
  font-size: 12px;
  font-weight: 400;
}

/* ----- text config ----- */
.sm-text {
  font-size: 11px;
}

.lg-text {
  font-size: 16px;
}

.white {
  color: #fafafc;
}

/* ----- container ----- */
.container-fluid {
  overflow: hidden;
  padding: 0 30px;
  position: relative;
}

/* ----- buttons frame ----- */
.buttons-frame a {
  margin-right: 15px;
}

/* ----- suptitle ----- */
.el-suptitle {
  margin-top: 5px;
  color: #646466;
  font-style: italic;
  font-size: 11px;
}

/* ----- divider ----- */
.ls-divider {
  background: #646466;
  width: 100%;
  height: 1px;
  opacity: 0.3;
}

/* ----- image defaults ----- */
.img-default {
  width: 100%;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}

/* ----- link defaults ----- */
a {
  text-decoration: none;
  color: #8c8c8e;
}
a:hover {
  text-decoration: none;
  color: #fafafc;
}
a:focus {
  outline: inherit;
}

/* ----- table ----- */
.table {
  color: #8c8c8e;
}
.table ul {
  padding: 0;
  margin: 0;
}
.table ul li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}
.table ul li:last-child {
  margin-bottom: 0;
}

/* ----- quote ----- */
blockquote {
  margin-top: 30px;
  margin-bottom: 30px;
  background: #FFC107;
  color: #191923;
  padding: 30px;
  padding-left: 35px;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
          box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
  position: relative;
}
blockquote:before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10d";
  font-size: 18px;
  opacity: .5;
  top: 5px;
  left: 9px;
  color: #fafafc;
}
blockquote:after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10d";
  font-size: 18px;
  opacity: .5;
  bottom: 5px;
  right: 9px;
  color: #fafafc;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* ----- list ----- */
.custom-list {
  padding-left: 25px;
}
.custom-list li {
  position: relative;
  list-style-type: none;
  color: #fafafc;
  margin-bottom: 5px;
}
.custom-list li:before {
  content: '';
  position: absolute;
  top: 4px;
  left: -25px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid 2px #FFC107;
  background: transparent;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}

/* ------------------------------

link

------------------------------ */
.link {
  position: relative;
  text-transform: uppercase;
  font-size: 10px;
  display: inline-block;
  letter-spacing: 1.5px;
  font-weight: 600;
  margin-right: 15px;
  margin-bottom: 10px;
  color: #8c8c8e;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.link:hover {
  color: #fafafc;
  text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
}
.link.white-link {
  color: #fafafc;
}
.link.white-link:hover {
  color: #fafafc;
  text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}
.link.color-link {
  color: #FFC107;
}
.link.color-link:hover {
  color: #FFC107;
  text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}
.link.w-chevron {
  padding-right: 10px;
}
.link.w-chevron:after {
  position: absolute;
  font-family: "Font Awesome 5 free";
  content: '\f054';
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 9px;
  top: 0.3px;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.link.w-chevron:hover {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.link.w-chevron:hover:after {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.link:last-child {
  margin-bottom: 0;
  margin-right: 0;
}
.link i {
  font-size: 9px;
  margin-left: 3px;
}
.link.left-link {
  padding-left: 10px;
  padding-right: 0;
}
.link.left-link.w-chevron:after {
  content: '\f053';
  left: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.link.left-link.w-chevron:hover:after {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

/* ------------------------------

button

------------------------------ */
.btn {
  text-transform: uppercase;
  -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
          box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
  color: #20202a;
  background: #FFC107;
  letter-spacing: 1.5px;
  font-weight: 600;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: none;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.btn span {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.btn.btn-md {
  height: 45px;
  font-size: 11px;
  padding: 0 35px;
}
.btn.btn-sm {
  height: 40px;
  font-size: 11px;
  padding: 0 30px;
}
.btn:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  color: #1e1e28;
}

/* ------------------------------

space

------------------------------ */
.p-30-0 {
  padding-top: 30px;
  padding-bottom: 0;
}

.p-0-30 {
  padding-top: 0;
  padding-bottom: 30px;
}

.p-30-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-30-15 {
  padding-top: 30px;
  padding-bottom: 15px;
}

.p-15-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p-15-0 {
  padding-top: 15px;
  padding-bottom: 0;
}

.p-60-0 {
  padding-top: 60px;
  padding-bottom: 0;
}

.p-230-0 {
  padding-top: 230px;
  padding-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 25px;
}

@media (max-width: 1400px) {
  .p-lg-30-0 {
    padding-top: 30px;
    padding-bottom: 0;
  }
}
@media (max-width: 920px) {
  .p-md-15-0 {
    padding-top: 15px;
    padding-bottom: 0;
  }
}
/* ------------------------------

app marcup

------------------------------ */
/* ----- top background ----- */
.top-bg {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  background-position: center;
  height: 400px;
  background-size: cover;
}
.top-bg .top-bg-overlay {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 30, 40, 0.93)), color-stop(70%, rgba(30, 30, 40, 0.96)), color-stop(80%, rgba(30, 30, 40, 0.99)), to(#1e1e28));
  background-image: linear-gradient(180deg, rgba(30, 30, 40, 0.93) 0%, rgba(30, 30, 40, 0.96) 70%, rgba(30, 30, 40, 0.99) 80%, #1e1e28 100%);
}

/* ----- preloader ----- */
.preloader {
  margin: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 30px);
  height: calc(100vh - 30px);
  background: #20202a;
  z-index: 999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.preloader .preloader-content {
  margin-bottom: 15px;
  text-align: center;
}
.preloader .preloader-content .preloader-load {
  margin-top: 5px;
  width: 200px;
}
.preloader .preloader-content .preloader-load .progressbar-text {
  position: relative;
  font-size: 14px;
  font-weight: 400 !important;
  color: #8c8c8e !important;
  height: 300px;
  line-height: 350px;
}

.preloader-load path:first-child {
  stroke: #191923;
}
.preloader-load path:last-child {
  /* stroke: #FFEF00; */
}

/* ----- scroll frame ----- */
.scroll-frame {
  width: 100%;
  height: calc(100vh - 30px);
}

.scrollbar-track {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* ----- app ----- */
.app {
  padding: 15px;
  background: #191923;
  width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;
  /* ----- mobile top bar ----- */
}
.app * {
  scrollbar-width: none;
}
.app ::-webkit-scrollbar {
  display: none;
}
.app .mobile-top-bar {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 70px;
  background: #20202a;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  padding: 0 30px;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.app .app-wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background: #1e1e28;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}
.app .app-wrapper .app-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  /* ----- info bar ----- */
  /* ----- content ----- */
  /* ----- menu bar ----- */
}
.app .app-wrapper .app-container .info-bar {
  background: #20202a;
  width: 290px;
  min-width: 290px;
  height: calc(100vh - 30px);
  position: relative;
  z-index: 999;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
}
.app .app-wrapper .app-container .info-bar .info-bar-frame {
  padding: 0 15px;
}
.app .app-wrapper .app-container .info-bar .info-bar-frame .info-bar-header {
  width: 100%;
  height: 70px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999999999999;
  display: none;
}
.app .app-wrapper .app-container .info-bar .info-bar-frame .info-bar-header .info-bar-btn {
  margin-left: auto;
  pointer-events: all;
  font-size: 14px;
  padding: 30px;
}
.app .app-wrapper .app-container .info-bar .info-bar-frame .info-bar-header .info-bar-btn.disabled {
  opacity: 0;
  pointer-events: none;
}
.app .app-wrapper .app-container .info-bar .info-bar-frame .scroll-frame .scroll-content {
  padding: 240px 0 50px;
}
.app .app-wrapper .app-container .content {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: calc(100vh - 30px);
  padding-right: 80px;
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
}
.app .app-wrapper .app-container .content .curtain {
  background: rgba(30, 30, 40, 0.88);
  position: absolute;
  z-index: 9;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
}
.app .app-wrapper .app-container .content.active {
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
}
.app .app-wrapper .app-container .content.active .curtain {
  pointer-events: all;
  opacity: 0.7;
}
.app .app-wrapper .app-container .menu-bar {
  background: #20202a;
  width: 230px;
  height: calc(100vh - 30px);
  position: absolute;
  z-index: 99;
  right: -150px;
  top: 0;
  bottom: 0;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
}
.app .app-wrapper .app-container .menu-bar .menu-bar-frame {
  position: relative;
}
.app .app-wrapper .app-container .menu-bar .menu-bar-frame .menu-bar-header {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
          box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
  background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);
}
.app .app-wrapper .app-container .menu-bar .menu-bar-frame .menu-bar-header .menu-bar-btn {
  pointer-events: all;
}
.app .app-wrapper .app-container .menu-bar .menu-bar-frame .menu-bar-header .menu-bar-btn.disabled {
  opacity: 0;
  pointer-events: none;
}
.app .app-wrapper .app-container .menu-bar.active {
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
}

/* ------------------------------

app marcup (after 920px)

------------------------------ */
@media (max-width: 920px) {
  /* ----- container ----- */
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* ----- preloader ----- */
  .preloader {
    margin: 0;
    width: 100vw;
    height: 100vh;
  }

  /* ----- scroll frame ----- */
  .scroll-frame {
    height: 100vh;
  }

  .app {
    padding: 0;
    /* ----- mobile top bar ----- */
  }
  .app .mobile-top-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .app .app-wrapper {
    border-radius: 0;
    height: 100vh;
  }
  .app .app-wrapper .app-container {
    width: 100%;
    /* ----- info bar ----- */
    /* ----- content ----- */
    /* ----- menu bar ----- */
  }
  .app .app-wrapper .app-container .info-bar {
    position: absolute;
    left: -290px;
    width: 290px;
    height: 100vh;
  }
  .app .app-wrapper .app-container .info-bar.active {
    -webkit-transform: translateX(290px);
            transform: translateX(290px);
  }
  .app .app-wrapper .app-container .info-bar .info-bar-frame .info-bar-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .app .app-wrapper .app-container .info-bar .info-bar-frame .info-bar-header .info-bar-btn {
    -webkit-transform: translateX(70px);
            transform: translateX(70px);
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
  .app .app-wrapper .app-container .info-bar.active .info-bar-frame .info-bar-btn {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .app .app-wrapper .app-container .content {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-right: 0;
    padding-top: 70px;
  }
  .app .app-wrapper .app-container .content .scroll-frame {
    height: calc(100vh - 70px);
  }
  .app .app-wrapper .app-container .content.active {
    -webkit-transform: none;
            transform: none;
  }
  .app .app-wrapper .app-container .content.active .curtain {
    pointer-events: all;
    opacity: 1;
  }
  .app .app-wrapper .app-container .menu-bar {
    position: absolute;
    right: -230px;
    width: 230px;
    height: 100vh;
  }
  .app .app-wrapper .app-container .menu-bar.active {
    -webkit-transform: translateX(-230px);
            transform: translateX(-230px);
  }
  .app .app-wrapper .app-container .menu-bar .menu-bar-btn {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
  }
  .app .app-wrapper .app-container .menu-bar.active .menu-bar-btn {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/* ------------------------------

app marcup (after 290px)

------------------------------ */
@media (max-width: 290px) {
  .app {
    /* ----- info bar ----- */
  }
  .app .info-bar {
    width: 100vw;
  }
}
/* ------------------------------

app marcup (after 230px)

------------------------------ */
@media (max-width: 230px) {
  .app {
    /* ----- menu bar ----- */
  }
  .app .menu-bar {
    width: 100vw;
  }
}
.app-onepage .app-wrapper .app-container .content {
  padding-right: 0;
}

/* ------------------------------

info bar

------------------------------ */
.info-bar {
  padding: 0 15px;
  /* ----- header ----- */
  /* ----- name ----- */
  /* ----- language skills ----- */
  /* ----- hard skills ----- */
  /* ----- knowledge ----- */
  /* ----- info bar links ----- */
  /* ----- social links ----- */
}
.info-bar .header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  padding: 30px;
  height: 235px;
  background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);
  text-align: center;
  -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
          box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
}
.info-bar .header .avatar {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  margin-bottom: 15px;
}
.info-bar .header .avatar .avatar-curtain {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: inherit;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  z-index: 0;
}
.info-bar .header .avatar .avatar-curtain i {
  background: linear-gradient(159deg, rgba(45, 45, 58, 0.88) 0%, rgba(43, 43, 53, 0.88) 100%);
  width: 30px;
  height: 30px;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-weight: 700;
  font-size: 11px;
  line-height: 30px;
  color: #fafafc;
  border-radius: 50%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.info-bar .header .avatar .avatar-curtain img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  z-index: 0;
}
.info-bar .header .avatar .avatar-curtain:hover {
  opacity: 1;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  outline: inherit;
}
.info-bar .header .avatar .avatar-curtain:hover i {
  opacity: .7;
}
.info-bar .header .avatar .avatar-curtain:hover i:hover {
  opacity: 1;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}
.info-bar .header .avatar .lamp-light {
  z-index: 2;
}
.info-bar .header .avatar .lamp-light:before {
  content: '';
  position: absolute;
  bottom: -1px;
  right: 1px;
  background: #fafafc;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  -webkit-animation: puls 1s infinite;
          animation: puls 1s infinite;
}
@-webkit-keyframes puls {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}
@keyframes puls {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
  }
}
.info-bar .header .avatar .lamp-light .available-lamp {
  position: absolute;
  bottom: 3px;
  right: 5px;
  height: 15px;
  width: 15px;
  background: #FFC107;
  border-radius: 50%;
  z-index: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.info-bar .header .avatar .lamp-light .available-lamp:after {
  position: relative;
  content: 'I am available for freelance hire';
  width: 115px;
  display: block;
  padding: 5px 10px;
  top: -10px;
  left: 28px;
  font-size: 10px;
  font-weight: 200;
  color: #8c8c8e;
  -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
          box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
  background: #191923;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  text-align: left;
}
.info-bar .header .avatar .lamp-light .available-lamp:before {
  content: '';
  position: absolute;
  height: 5px;
  width: 5px;
  right: -15px;
  top: 5px;
  opacity: 0;
  background: #191923;
  pointer-events: none;
  -webkit-transform: translateX(20px) rotate(45deg);
          transform: translateX(20px) rotate(45deg);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  z-index: 99;
}
.info-bar .header .avatar .lamp-light .available-lamp:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.info-bar .header .avatar .lamp-light .available-lamp:hover:after {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.info-bar .header .avatar .lamp-light .available-lamp:hover:before {
  opacity: 1;
  -webkit-transform: translateX(0) rotate(45deg);
          transform: translateX(0) rotate(45deg);
}
.info-bar .header .avatar .lamp-light.not-available:before {
  opacity: 0;
  -webkit-animation: none;
          animation: none;
}
.info-bar .header .avatar .lamp-light.not-available .available-lamp {
  background: red;
}
.info-bar .header .avatar .lamp-light.not-available .available-lamp:after {
  content: "Sorry I'm busy today";
}
.info-bar .name {
  color: #fafafc;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.info-bar .name a {
  color: #fafafc;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.info-bar .name:hover a {
  color: #FFC107;
}
.info-bar .lang-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.info-bar .lang-skills .lang-skills-item {
  width: 33.33333%;
  text-align: center;
  margin-bottom: 15px;
}
.info-bar .lang-skills .lang-skills-item .cirkle-progress {
  width: 65%;
  margin: 0 auto 15px;
}
.info-bar .lang-skills .lang-skills-item .cirkle-progress .progressbar-text {
  font-size: 11px;
  color: #8c8c8e !important;
  position: relative;
  left: 45% !important;
}
.info-bar .lang-skills .lang-skills-item .cirkle-progress .progressbar-text:after {
  content: '%';
  position: absolute;
  right: -7px;
}
.info-bar .hard-skills .hard-skills-item {
  margin-bottom: 15px;
  position: relative;
}
.info-bar .hard-skills .hard-skills-item .skill-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.info-bar .hard-skills .hard-skills-item .line-progress {
  width: 100%;
}
.info-bar .hard-skills .hard-skills-item .line-progress .progressbar-text {
  width: 100%;
  text-align: right;
  top: -6px !important;
  font-size: 11px;
  color: #8c8c8e !important;
}
.info-bar .knowledge-list {
  padding-left: 0;
}
.info-bar .knowledge-list li {
  list-style-type: none;
  margin-bottom: 5px;
  color: #8c8c8e;
}
.info-bar .knowledge-list li:last-child {
  margin-bottom: 0;
}
.info-bar .knowledge-list li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  margin-right: 5px;
  font-size: 9px;
  color: #FFC107;
  margin-right: 10px;
}
.info-bar .links-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.info-bar .ls-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 35px;
  height: 50px;
  background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);
  position: absolute;
  bottom: 0;
  -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
          box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
  left: 0;
  width: 100%;
  z-index: 999;
}
.info-bar .ls-social a {
  color: #8c8c8e;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.info-bar .ls-social a:hover {
  text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
  color: #fafafc;
}

/* ----- progresbar color ----- */
.line-progress path:first-child {
  stroke: #191923;
}
.line-progress path:last-child {
  stroke: #FFEF00;
}

.cirkle-progress path:first-child {
  stroke: #191923;
}
.cirkle-progress path:last-child {
  stroke: #FFEF00;
}

/* ------------------------------

menu bar

------------------------------ */
.menu-bar {
  /* ----- main menu  ----- */
  /* ----- language change  ----- */
  /* ----- current page title ----- */
}
.menu-bar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}
.menu-bar nav .main-menu {
  width: 100%;
  padding: 0;
  margin: 0 0 60px;
}
.menu-bar nav .main-menu .menu-item {
  width: 100%;
  list-style-type: none;
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
  opacity: 0;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
  transition: 0.55s ease-in-out;
}
.menu-bar nav .main-menu .menu-item:nth-child(1) {
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}
.menu-bar nav .main-menu .menu-item:nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.menu-bar nav .main-menu .menu-item:nth-child(3) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.menu-bar nav .main-menu .menu-item:nth-child(4) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.menu-bar nav .main-menu .menu-item:nth-child(5) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
.menu-bar nav .main-menu .menu-item:nth-child(6) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.menu-bar nav .main-menu .menu-item:nth-child(7) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}
.menu-bar nav .main-menu .menu-item:nth-child(8) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.menu-bar nav .main-menu .menu-item:nth-child(9) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}
.menu-bar nav .main-menu .menu-item:nth-child(10) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.menu-bar nav .main-menu .menu-item a {
  padding: 7px 30px;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 500;
  color: #8c8c8e;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.menu-bar nav .main-menu .menu-item a:hover {
  color: #fafafc;
  text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
}
.menu-bar nav .main-menu .menu-item.menu-item-has-children {
  padding-left: 0;
  padding-right: 0;
}
.menu-bar nav .main-menu .menu-item.menu-item-has-children:after {
  position: absolute;
  font-family: "Font Awesome 5 free";
  content: '\f054';
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 9px;
  top: 6px;
  right: 30px;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.menu-bar nav .main-menu .menu-item .sub-menu {
  padding-left: 0;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  pointer-events: none;
  -webkit-box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  background: #20202a;
  -webkit-filter: brightness(95%);
          filter: brightness(95%);
  max-height: 0;
  -webkit-transition: max-height 0.6s ease-in-out;
  transition: max-height 0.6s ease-in-out;
}
.menu-bar nav .main-menu .menu-item .sub-menu .menu-item {
  position: relative;
  opacity: 0;
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
}
.menu-bar nav .main-menu .menu-item .sub-menu .menu-item a {
  padding: 7px 30px;
  font-weight: 400;
  font-size: 10px;
}
.menu-bar nav .main-menu .menu-item .sub-menu .menu-item .sub-menu {
  margin: 0;
  max-height: 0;
  -webkit-transition: max-height 1s ease-in-out;
  transition: max-height 1s ease-in-out;
}
.menu-bar nav .main-menu .menu-item .sub-menu .menu-item:hover.menu-item-has-children:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.menu-bar nav .main-menu .menu-item .sub-menu .menu-item:hover .sub-menu {
  max-height: 500px;
}
.menu-bar nav .main-menu .menu-item .sub-menu .menu-item:first-child {
  margin-top: 15px;
}
.menu-bar nav .main-menu .menu-item .sub-menu .menu-item:last-child {
  margin-bottom: 15px;
}
.menu-bar nav .main-menu .menu-item .sub-menu.active {
  pointer-events: all;
  max-height: 500px;
}
.menu-bar nav .main-menu .menu-item .sub-menu.active .menu-item {
  opacity: 1;
}
.menu-bar nav .main-menu .menu-item:hover.menu-item-has-children:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.menu-bar nav .main-menu .menu-item.current-menu-item a:first-child {
  color: #fafafc;
  text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
}
.menu-bar nav .main-menu .menu-item.current-menu-item .sub-menu .menu-item a {
  color: #8c8c8e;
  text-shadow: none;
}
.menu-bar nav .main-menu .menu-item.current-menu-item .sub-menu .menu-item a:hover {
  color: #fafafc;
  text-shadow: 0 0 3px rgba(250, 250, 252, 0.4);
}



#version-switcher {
  position: fixed;
  right: 15px;
  bottom: 15px;
  margin: 0;
  padding: 0;
  z-index: 1;
  pointer-events: none;
  list-style: none;
}
#version-switcher .icon {
  margin-right: 4px;
}
#version-switcher ul {
  text-align: right;
}


#doc-languages {
  margin: 0.5em;
}

#doc-languages li {
    display: none;
    margin: 0 3px;
    pointer-events: auto;
    
}

#doc-languages li.current {
  display: inline-block;
  min-width: 63px;
  text-align: center;
}

#doc-languages li.current a {
  background-color: #FFEF00;
  color: #1e1e28;
  min-width: 63px;
  text-align: center;
}

#doc-languages li.current-link{
    display: inline-block;
}

#doc-languages li a{
    display: inline-block;
    background: #1e1e28;
    text-decoration: none;
    font-weight: 700;
    padding: 8px 15px;
    border-radius: 3px;
}

#doc-languages li a:hover{
    color: #fff;
    border: 1px solid #93d7b7;
}

#doc-languages:hover,
#doc-languages .hover-on {
    pointer-events: auto;
}

#doc-languages:hover li,
#doc-languages .hover-on li {
    display: inline-block;
}














.menu-bar .language-change {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
          box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
  background: linear-gradient(159deg, rgba(37, 37, 50, 0.98) 0%, rgba(35, 35, 45, 0.98) 100%);
  padding: 30px 15px;
  margin: 0;
}
.menu-bar .language-change li {
  list-style-type: none;
  -webkit-box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  background: #1e1e28;
  font-size: 10px;
  border-radius: 3px;
  height: 25px;
  width: 50px;
  margin-bottom: 10px;
}
.menu-bar .language-change li a {
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  font-weight: 600;
  display: block;
  text-align: center;
  line-height: 25px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.menu-bar .language-change li.active-lang {
  background-color: #FFC107;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}
.menu-bar .language-change li.active-lang a {
  color: #1e1e28;
}
.menu-bar .language-change li:last-child {
  margin-bottom: 0;
}
.menu-bar.active nav .menu-item {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.menu-bar .current-page {
  width: 200px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #fafafc;
  position: absolute;
  overflow: hidden;
  top: 200px;
  opacity: 1;
  left: -62px;
  text-transform: uppercase;
  font-size: 11px;
  opacity: 1;
  letter-spacing: 1px;
  font-weight: 500;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.menu-bar a {
  display: none;
  visibility: hidden;
  opacity: 0;
}
.menu-bar a:first-child {
  visibility: visible;
  opacity: 1;
  display: block;
}
.menu-bar.active .current-page {
  opacity: 0;
}

/* ------------------------------

content

------------------------------ */
/* ----- section title ----- */
.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-title .title-frame {
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  margin-bottom: 30px;
}
.section-title .right-frame {
  padding-bottom: 30px;
}

/* ----- card ----- */
.card {
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  padding: 30px;
  margin-bottom: 30px;
}
.card.fluid-card {
  height: calc(100% - 30px);
}

/* ----- banner ----- */
.banner-back {
  content: '';
  position: absolute;
  z-index: 0;
  top: -30px;
  width: 90%;
  height: 30px;
  margin-left: 5%;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: rgba(30, 30, 40, 0.88);
}

.banner {
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  z-index: -1;
}
.banner .banner-overlay {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(15%, rgba(45, 45, 58, 0.9)), color-stop(50%, rgba(45, 45, 58, 0.7)), to(rgba(43, 43, 53, 0.7)));
  background-image: linear-gradient(90deg, rgba(45, 45, 58, 0.9) 15%, rgba(45, 45, 58, 0.7) 50%, rgba(43, 43, 53, 0.7) 100%);
}
.banner .banner-overlay.side-overlay {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(15%, rgba(45, 45, 58, 0.9)), color-stop(50%, rgba(45, 45, 58, 0.7)), to(rgba(43, 43, 53, 0)));
  background-image: linear-gradient(90deg, rgba(45, 45, 58, 0.9) 15%, rgba(45, 45, 58, 0.7) 50%, rgba(43, 43, 53, 0) 100%);
}
.banner .banner-overlay .banner-title {
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  z-index: 999;
}
.banner .banner-overlay .banner-title h1 {
  color: #fafafc;
}
.banner .banner-overlay .banner-photo {
  width: 390px;
  position: absolute;
  right: 0px;
  bottom: -56px;
}

/* ----- typing code ----- */
.code {
  font-family: "Courier Prime", monospace;
  color: #fafafc;
}
.code i {
  font-style: normal;
  color: #FFC107;
}

/* ----- counters ----- */
.counter-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  opacity: 0;
  position: relative;
}
.counter-frame .counter-box {
  min-width: 60px;
}
.counter-frame .counter-box .counter {
  color: #FFC107;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}
.counter-frame .counter-box .counter-plus {
  margin-left: 3px;
  color: #FFC107;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}

/* ----- services ----- */
.service-icon-box {
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
  height: 150px;
}
.service-icon-box .service-ib-content {
  padding: 30px;
}
.service-icon-box .service-ib-content .service-ib-icon {
  position: absolute;
  right: 10px;
  bottom: -45px;
  opacity: 0.03;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  -ms-flex-item-align: center;
      align-self: center;
}

/* ----- prices ----- */
.price {
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  text-align: center;
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
}
.price.popular-price {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.price.popular-price:before {
  font-size: 10px;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 99;
  top: 18px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
          box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
  font-weight: 600;
  color: #1e1e28;
  right: -72px;
  content: 'POPULAR';
  padding: 2px;
  width: 200px;
  text-align: center;
  background: #FFC107;
}
.price .price-body {
  position: relative;
  padding: 30px;
}
.price .price-body .asterisk {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 0;
  text-align: center;
  font-size: 8px;
  opacity: 0.4;
}
.price .price-body .price-cost {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  padding: 0 10px;
}
.price .price-body .price-cost .number {
  font-size: 32px;
  color: #FFC107;
  font-weight: 600;
  margin-bottom: 0;
}
.price .price-body .price-cost .number span {
  color: #fafafc;
  font-size: 12px;
  font-weight: 200;
  padding: 0 5px;
  opacity: 0.6;
}
.price .price-body .price-cost .number sup {
  font-size: 14px;
  position: absolute;
  top: 15px;
  right: 0;
  opacity: 0.6;
}
.price .price-body .price-list {
  padding: 0;
  margin: 0 0 30px;
}
.price .price-body .price-list li {
  list-style-type: none;
  margin-bottom: 15px;
}
.price .price-body .price-list li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  margin-right: 5px;
  font-size: 9px;
  color: #FFC107;
}
.price .price-body .price-list li.empty-item {
  opacity: 0.3;
}
.price .price-body .price-list li.empty-item:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00d";
  margin-right: 5px;
  font-size: 9px;
  color: #FFC107;
}
.price .price-body .link {
  margin: 0;
}

/* ----- testimonials ----- */
.testimonial-slider {
  width: 100%;
}

.testimonial {
  position: relative;
  background-size: cover;
  padding: 30px;
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}
.testimonial .testimonial-body {
  width: 100%;
  height: 100%;
  z-index: 0;
}
.testimonial .testimonial-body .testimonial-face {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  right: 30px;
  top: -15px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}
.testimonial .testimonial-footer {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}
.testimonial .testimonial-footer .star-rate {
  padding: 0;
  margin: 0;
  -webkit-box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  padding: 5px 15px;
  font-size: 10px;
  margin-top: 5px;
  background: #20202a;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFC107;
}
.testimonial .testimonial-footer .star-rate li {
  list-style-type: none;
  margin-right: 5px;
}
.testimonial .testimonial-footer .star-rate li.empty-item {
  color: rgba(43, 43, 53, 0.98);
}
.testimonial .testimonial-footer .testimonial-icon {
  position: absolute;
  left: 45%;
  top: 20px;
  opacity: 0.03;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120px;
  -ms-flex-item-align: center;
      align-self: center;
}

.slider-navigation {
  padding: 15px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slider-navigation .swiper-pagination-bullet {
  margin-right: 10px;
  background-color: #8c8c8e;
  border-radius: 5px;
  opacity: 0.5;
  height: 4px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.slider-navigation .swiper-pagination-bullet:focus {
  outline: inherit;
}
.slider-navigation .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 20px;
  background-color: #FFC107;
  opacity: 1;
}
.slider-navigation .slider-nav-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider-navigation .slider-nav-frame .slider-nav {
  margin-left: 15px;
  cursor: pointer;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.slider-navigation .slider-nav-frame .slider-nav.swiper-button-disabled {
  opacity: 0.2;
  cursor: not-allowed;
}
.slider-navigation .slider-nav-frame .slider-nav:focus {
  outline: inherit;
}

/* ----- timeline ----- */
.timeline {
  position: relative;
}
.timeline::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 5px;
  height: calc(100% - 10px);
  width: 5px;
  background: #191923;
}
.timeline .timeline-item {
  position: relative;
}
.timeline .timeline-item .timeline-mark-light {
  background: #fafafc;
  position: absolute;
  top: 4px;
  right: -4px;
  width: 23px;
  height: 23px;
  opacity: 0;
  border-radius: 50%;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.timeline .timeline-item .timeline-mark {
  position: absolute;
  top: 8px;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: solid 3px #FFC107;
  background: #1e1e28;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}
.timeline .timeline-item:hover .timeline-mark-light {
  -webkit-animation: puls 1s infinite;
          animation: puls 1s infinite;
}
.timeline .timeline-content {
  position: relative;
  margin-right: 45px;
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
  padding: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}
.timeline .timeline-content:after {
  height: 10px;
  width: 10px;
  background-color: rgba(43, 43, 53, 0.98);
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  content: '';
  position: absolute;
  top: 11px;
  right: -5px;
  border-top-right-radius: 50%;
}
.timeline .timeline-content .card-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.timeline .timeline-content .card-header .right-side {
  margin-bottom: 15px;
}
.timeline .timeline-content .card-header .right-side .date {
  color: #646466;
  margin-left: auto;
  background: #20202a;
  padding: 5px 15px;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  font-size: 10px;
}

/* ----- contact form ----- */
.form-field input,
.form-field textarea {
  height: 50px;
  width: 100%;
  background: linear-gradient(159deg, #252532 0%, #23232d 100%);
  border: none;
  color: #fafafc;
  padding-left: 65px;
  padding-right: 15px;
  -webkit-box-shadow: inset 0 1px 4px 0 rgba(15, 15, 20, 0.1);
          box-shadow: inset 0 1px 4px 0 rgba(15, 15, 20, 0.1);
  margin-bottom: 0;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

::-webkit-input-placeholder {
  color: #646466;
}

:-ms-input-placeholder {
  color: #646466;
}

::-ms-input-placeholder {
  color: #646466;
}

::placeholder {
  color: #646466;
}

.form-field textarea {
  padding-left: 15px;
  padding-top: 15px;
  height: 150px;
  border-left: solid 50px #20202a;
}
.form-field textarea.active {
  border-color: #FFC107;
}
.form-field textarea:focus {
  border-color: #FFC107;
}

.contact-form .input:focus {
  outline: none;
}

.contact-form .input.active + label,
.contact-form .input:focus + label {
  background: #FFC107;
  color: #20202a;
}

.form-field {
  position: relative;
  margin-bottom: 30px;
}

.contact-form label {
  text-align: center;
  color: #8c8c8e;
  position: absolute;
  height: 50px;
  width: 50px;
  background: #20202a;
  top: 0;
  left: 0;
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 50px;
  letter-spacing: 1px;
  font-weight: 500;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  cursor: text;
}

.submit-frame {
  position: relative;
  height: 45px;
}
.submit-frame .submit {
  margin: 0;
  overflow: hidden;
  position: relative;
  z-index: 999;
}
.submit-frame .submit:focus {
  outline: inherit;
}
.submit-frame .success {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -15px;
  overflow: hidden;
  max-width: 150px;
  -webkit-transform: scale(0);
          transform: scale(0);
  text-transform: uppercase;
  color: #fafafc;
  background: #20202a;
  letter-spacing: 1.5px;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: none;
  height: 0;
  font-size: 11px;
  padding: 15px 35px 0;
  margin: 0;
}

/* ----- blog ----- */
.blog-card {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  margin-bottom: 30px;
}
.blog-card .port-cover {
  position: relative;
  padding-bottom: 60%;
  display: block;
}
.blog-card .port-cover img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.blog-card .post-description {
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
  padding: 30px;
  position: relative;
  bottom: 0;
}
.blog-card:hover .port-cover img {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.blog-slider .blog-card {
  margin-bottom: 0;
}

/* ----- pagination ----- */
.pagination {
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  padding: 30px 30px 25px;
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pagination .pagination-center {
  text-align: center;
  position: absolute;
  width: 200px;
  left: 50%;
  top: 25px;
  margin-left: -100px;
}
.pagination .pagination-center a {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  padding: 0 5px;
}
.pagination .pagination-center a.active-pag {
  color: #FFC107;
}
.pagination .link {
  margin: 0;
}

/* ----- brands ----- */
.brand {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
  opacity: 0.6;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.brand:hover {
  opacity: 1;
}

/* ----- footer ----- */
footer {
  width: 100%;
  padding: 17px 30px 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
  -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
          box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
  font-size: 11px;
  color: #8c8c8e;
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
  z-index: 9;
}
footer div {
  margin-bottom: 10px;
}
footer a {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
footer a:hover {
  color: #fafafc;
}

/* ------------------------------

portfolio

------------------------------ */
/* ----- filter ----- */
.filter a {
  color: #8c8c8e;
  margin-bottom: 0;
}
.filter a.current {
  color: #fafafc;
}

/* ----- portfolio items ----- */
.portfolio-item-frame {
  display: block;
  width: 100%;
  outline: inherit;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  position: relative;
  padding-bottom: 60%;
}
.portfolio-item-frame img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-filter: brightness(85%) blur(0);
          filter: brightness(85%) blur(0);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.portfolio-item-frame .item-hover {
  width: 27px;
  height: 27px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
          box-shadow: 0 1px 4px 0 rgba(15, 15, 20, 0.1);
  border-radius: 50%;
  position: absolute;
  color: #fafafc;
  top: 30px;
  left: 30px;
  background: linear-gradient(159deg, rgba(45, 45, 58, 0.88) 0%, rgba(43, 43, 53, 0.88) 100%);
  font-size: 11px;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.portfolio-item-frame:hover .item-hover {
  opacity: 0.5;
}
.portfolio-item-frame:hover .item-hover:hover {
  opacity: 1;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}
.portfolio-item-frame:hover img {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-filter: brightness(100%) blur(0);
          filter: brightness(100%) blur(0);
}

.grid {
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
  width: 100%;
  /* clear fix */
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid .grid-item {
  float: left;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  height: auto;
  padding: 0 15px;
}
.grid .grid-item .item-description {
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: 15px;
  width: calc(100% - 29px);
  padding: 30px;
  background: linear-gradient(159deg, rgba(45, 45, 58, 0.98) 0%, rgba(43, 43, 53, 0.98) 100%);
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
}
.grid .grid-item:hover .item-description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.grid.grid-2-col .grid-item {
  width: 50%;
}
.grid.grid-2-col .grid-item .portfolio-item-frame.horizontal {
  padding-bottom: 66.7%;
}
.grid.grid-2-col .grid-item .portfolio-item-frame.vertical {
  padding-bottom: 140%;
}
.grid.grid-2-col .grid-item .portfolio-item-frame.square {
  padding-bottom: 90%;
}
.grid.grid-3-col .grid-item {
  width: 33.3333%;
}
.grid.grid-3-col .grid-item .portfolio-item-frame.horizontal {
  padding-bottom: 65%;
}
.grid.grid-3-col .grid-item .portfolio-item-frame.vertical {
  padding-bottom: 140%;
}
.grid.grid-3-col .grid-item .portfolio-item-frame.square {
  padding-bottom: 90%;
}

/* ----- touch device ----- */
@media (pointer: coarse) {
  .portfolio-item-frame .item-hover {
    opacity: 0.5;
  }

  .grid .grid-item .item-description {
    position: relative;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .grid .grid-item:hover .item-description {
    -webkit-transform: none;
            transform: none;
  }
}
/* ----- single project ----- */
.project-cover {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  margin-bottom: 30px;
}
.project-cover .portfolio-item-frame {
  padding-bottom: 50%;
}

.project-category {
  color: #646466;
  margin-left: auto;
  display: inline;
  background: #20202a;
  padding: 5px 15px;
  border-radius: 15px;
  -webkit-box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: inset 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  font-size: 10px;
}

/* ----- fancybox customization ----- */
.fancybox-container {
  margin: 15px;
  width: calc(100vw - 30px);
  height: calc(100vh - 30px);
}
.fancybox-container .fancybox-bg {
  background: rgba(32, 32, 42, 0.98);
}

.fancybox-is-open .fancybox-bg {
  opacity: 1;
}

.fancybox-toolbar {
  background: linear-gradient(159deg, rgba(45, 45, 58, 0.88) 0%, rgba(43, 43, 53, 0.88) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100vw - 30px);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
  z-index: 999999;
  padding: 0 17px;
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
}
.fancybox-toolbar .fancybox-button {
  background: transparent;
  color: #8c8c8e;
}
.fancybox-toolbar .fancybox-button:hover {
  color: #fafafc;
}
.fancybox-toolbar .fancybox-button svg {
  width: 20px;
}

.fancybox-slide--image {
  padding: 130px 0 60px;
}

.fancybox-navigation .fancybox-button {
  background-color: transparent;
  margin: 0 15px;
}

.fancybox-infobar {
  top: 0;
  left: 0;
  font-size: 11px;
  margin-left: 5px;
  z-index: 9999999999999;
  height: 70px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  color: #8c8c8e;
}

.fancybox-progress {
  background: #FFC107;
  z-index: 999999999999999999;
}

.fancybox-content .fancybox-image {
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}

.fancybox-thumbs {
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
  -webkit-box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
          box-shadow: 0 3px 8px 0 rgba(15, 15, 20, 0.2);
}

.fancybox-thumbs__list a:before {
  border-color: #FFC107;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.fancybox-button[disabled] {
  -webkit-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.recomendation-popup {
  background-color: transparent;
  max-width: 50%;
}

/* ------------------------------

content (after 1600px)

------------------------------ */
@media (max-width: 1600px) {
  .banner .banner-overlay .banner-title h1 {
    color: #fafafc;
    font-size: 42px;
  }
  .banner .banner-overlay .banner-photo {
    width: 360px;
  }
}
/* ------------------------------

content (after 1400px)

------------------------------ */
@media (max-width: 1400px) {
  .banner-back {
    display: none;
  }

  .banner .banner-overlay .banner-title h1 {
    color: #fafafc;
    font-size: 36px;
  }
  .banner .banner-overlay .banner-photo {
    width: 320px;
  }
}
/* ------------------------------

content (after 1200px)

------------------------------ */
@media (max-width: 1200px) {
  .banner .banner-overlay .banner-photo {
    display: none;
  }

  .grid.grid-2-col .grid-item {
    width: 50%;
  }
  .grid.grid-3-col .grid-item {
    width: 50%;
  }
}
/* ------------------------------

content (after 920px)

------------------------------ */
@media (max-width: 920px) {
  .banner .banner-overlay {
    padding: 60px 30px;
  }
  .banner .banner-overlay .banner-title {
    text-align: center;
  }
  .banner .banner-overlay .banner-title h1 {
    color: #fafafc;
    font-size: 46px;
  }
  .banner .banner-overlay .banner-title .buttons-frame {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner .banner-overlay .banner-title .buttons-frame a {
    max-width: 200px;
    margin: 0 auto;
  }
  .banner .banner-overlay .banner-title .buttons-frame a:first-child {
    margin-bottom: 15px;
  }

  .code {
    min-height: 70px;
    margin-bottom: 0;
  }

  .timeline .timeline-content {
    margin-right: 30px;
  }

  .fancybox-container {
    margin: 0;
    width: 100vw;
    height: 100vh;
  }

  .fancybox-toolbar {
    width: 100vw;
  }

  .fancybox-navigation {
    width: 100%;
    position: absolute;
    bottom: 35px;
  }
}
/* ------------------------------

content (after 768px)

------------------------------ */
@media (max-width: 768px) {
  .section-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-title .right-frame {
    margin-left: auto;
    margin-right: auto;
  }

  .grid.grid-2-col .grid-item {
    width: 100%;
  }
  .grid.grid-3-col .grid-item {
    width: 100%;
  }

  .filter {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .filter a {
    margin: 0 0 10px;
  }

  .m-hidden {
    display: none;
  }
}
/* ------------------------------

content (after 500px)

------------------------------ */
@media (max-width: 500px) {
  .section-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-title .right-frame {
    margin-left: auto;
    margin-right: auto;
  }

  .grid.grid-2-col .grid-item {
    width: 100%;
  }
  .grid.grid-3-col .grid-item {
    width: 100%;
  }
}
/* ------------------------------

burger button

------------------------------ */
.menu-bar-btn {
  margin-top: -10px;
  display: inline-block;
  width: 15px;
  height: 12px;
  padding: 30px;
}
.menu-bar-btn span, .menu-bar-btn span:after, .menu-bar-btn span:before {
  content: "";
  display: block;
  width: 15px;
  height: 3px;
  border-radius: 1px;
  background: #8c8c8e;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.menu-bar-btn span {
  position: relative;
  margin: 5px 0 0;
}
.menu-bar-btn span:after, .menu-bar-btn span:before {
  position: absolute;
}
.menu-bar-btn span:before {
  top: -5px;
}
.menu-bar-btn span:after {
  top: 5px;
}
.menu-bar-btn.active span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu-bar-btn.active span:before {
  -webkit-transform: translate(0px, 5px) rotate(-90deg);
          transform: translate(0px, 5px) rotate(-90deg);
}
.menu-bar-btn.active span:after {
  -webkit-transform: translate(0px, -5px) rotate(-90deg);
          transform: translate(0px, -5px) rotate(-90deg);
}
.menu-bar-btn:hover span, .menu-bar-btn:hover span:after, .menu-bar-btn:hover span:before {
  background: #fafafc;
}

/* ------------------------------

transitions

------------------------------ */
.a {
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
}

/* ----- in animation ----- */
.transition-fade {
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
  opacity: 1;
}
.transition-fade .a {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.transition-fade .price.popular-price {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

/* ----- out animation ----- */
html.is-animating .transition-fade {
  opacity: 0;
}
html.is-animating .transition-fade .a {
  -webkit-transform: scale(0.93);
          transform: scale(0.93);
  opacity: 0;
}

html.is-animating .a, html.is-animating .current-page {
  opacity: 0;
}

/* ----- in animation ----- */
.fade-right {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

/* ----- out animation ----- */
html.is-animating .fade-right {
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
  opacity: 0;
}

/* ----- in animation ----- */
.fade-left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

/* ----- out animation ----- */
html.is-animating .fade-left {
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
  opacity: 0;
}

@media (max-width: 920px) {
  .transition-fade .price.popular-price {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */