<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- color of address bar in mobile browser -->
  <meta name="theme-color" content="#2B2B35">
        <title>Kassia Fraga</title>
        
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat&display=swap" rel="stylesheet">

        {% comment %} <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css"> {% endcomment %}

        

        <link rel="stylesheet" href="{% static 'css/plugins/bootstrap.min.css' %}">

        
        <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/plugins/font-awesome.min.css' %}">

        <link rel="stylesheet" href="{% static 'css/plugins/swiper.min.css' %}">

        <link rel="stylesheet" href="{% static 'css/plugins/fancybox.min.css' %}">

        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <link rel="stylesheet" href="{% static 'css/color-1.css' %}">

        <style type="text/css">
            .txt-rotate > .wrap { 
                border-right: 0.08em solid rgba(215,205,240,.6); 
                padding-right: 5px 
            }
        </style>

        <style id="smooth-scrollbar-style">
[data-scrollbar] {
  display: block;
  position: relative;
}

.scroll-content {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.scrollbar-track {
  position: absolute;
  opacity: 0;
  z-index: 1;
  background: rgba(222, 222, 222, .75);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: opacity 0.5s 0.5s ease-out;
          transition: opacity 0.5s 0.5s ease-out;
}
.scrollbar-track.show,
.scrollbar-track:hover {
  opacity: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.scrollbar-track-x {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8px;
}
.scrollbar-track-y {
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
}
.scrollbar-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, .5);
  border-radius: 4px;
}
</style>
        
  </head>
  <body>
    <!-- app -->
    <div class="app">

      <!-- mobile top bar -->
      <div class="mobile-top-bar">
      </div>
      <!-- mobile top bar end -->

      <!-- app wrapper -->
      <div class="app-wrapper">

        <!-- app container -->
        <div class="app-container">

          <!-- info bar -->
          <div class="info-bar">

              <!-- menu bar frame -->
              <div class="info-bar-frame">

                  <!-- info bar header -->
                  <div class="info-bar-header">
                      <!-- info bar button -->
                      <a class="info-bar-btn" href="#.">
                          <!-- icon -->
                          <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <!-- info bar button end -->
                  </div>
                  <!-- info bar header end -->

                  <!-- info bar header -->
                  <div class="header">
                      <!-- avatar -->
                      <div class="avatar">
                          <a data-fancybox="avatar" href="{% static 'images/pp.png' %}" class="avatar-curtain">
                              <img src="{% static 'images/pp.png' %}" alt="avatar">
                              <i class="fas fa-expand"></i>
                          </a>
                          <!-- available -->
                          <div class="lamp-light">
                              <!-- add class 'not-available' if not available-->
                              <div class="available-lamp"></div>
                          </div>
                      </div>
                      <!-- avatar end -->
                      <!-- name -->
                      <h5 class="name mb-10"><a href="/nazar/arter-demo/home.html">Kassia Fraga</a></h5>
                      <!-- post -->
                      <div class="sm-text">{% trans 'Desenvolvedora FullStack' %} <br>{% trans 'Gerente de Produto' %}, </div>
                  </div>
                  <!-- info bar header end -->

                  <!-- scroll frame -->
                  <div id="scrollbar2" class="scroll-frame">
                      <!-- info bar about -->
                      <div class="table p-15-15">
                          <!-- about text -->
                          <ul>
                              <!-- country -->
                              <li>
                                  <h6>{% trans 'Residência' %}:</h6><span>{% trans 'Brasil' %}</span>
                              </li>
                              <!-- city -->
                              <li>
                                  <h6>{% trans 'Cidade' %}:</h6><span>Vitória</span>
                              </li>
                              <!-- age -->
                              <li>
                                  <h6>{% trans 'Idade' %}:</h6><span>21</span>
                              </li>
                          </ul>
                      </div>
                      <!-- info bar about end -->

                      <!-- divider -->
                      <div class="ls-divider"></div>

                      <!-- language skills -->
                      <div class="lang-skills p-30-15">
                          <!-- skill -->
                          <div class="lang-skills-item">
                              <div id="circleprog1" class="cirkle-progress"></div>
                              <!-- title -->
                              <h6>{% trans "Inglês" %}</h6>
                          </div>
                          <!-- skill end -->

                      </div>
                      <!-- language skills end -->

                      <!-- divider -->
                      <div class="ls-divider"></div>

                      <!-- hard skills -->
                      <div class="hard-skills p-30-15">

                          <!-- skill -->
                          <div class="hard-skills-item">
                              <div class="skill-heading">
                                  <!-- title -->
                                  <h6>Django</h6>
                              </div>
                              <!-- progressbar frame -->
                              <div class="line-progress">
                                  <!-- progressbar -->
                                  <div id="lineprog1"></div>
                              </div>
                          <!-- progressbar frame end -->
                          </div>
                          <!-- skill end -->

                          <!-- skill -->
                          <div class="hard-skills-item">
                              <div class="skill-heading">
                                  <!-- title -->
                                  <h6>ReactJS</h6>
                              </div>
                              <!-- progressbar frame -->
                              <div class="line-progress">
                                  <!-- progressbar -->
                                  <div id="lineprog2"></div>
                              </div>
                              <!-- progressbar frame end -->
                          </div>
                          <!-- skill end -->

                          <!-- skill -->
                          <div class="hard-skills-item">
                              <div class="skill-heading">
                                  <!-- title -->
                                  <h6>React-Native</h6>
                              </div>
                              <!-- progressbar frame -->
                              <div class="line-progress">
                                  <!-- progressbar -->
                                  <div id="lineprog3"></div>
                              </div>
                              <!-- progressbar frame end -->
                          </div>
                          <!-- skill end -->

                          <!-- skill -->
                          <div class="hard-skills-item">
                              <div class="skill-heading">
                                  <!-- title -->
                                  <h6>Google Apps Script</h6>
                              </div>
                              <!-- progressbar frame -->
                              <div class="line-progress">
                                  <!-- progressbar -->
                                  <div id="lineprog4"></div>
                              </div>
                              <!-- progressbar frame end -->
                          </div>
                          <!-- skill end -->

                          <!-- skill -->
                          <div class="hard-skills-item">
                              <div class="skill-heading">
                                  <!-- title -->
                                  <h6>PowerBI</h6>
                              </div>
                              <!-- progressbar frame -->
                              <div class="line-progress">
                                  <!-- progressbar -->
                                  <div id="lineprog5"></div>
                              </div>
                              <!-- progressbar frame end -->
                          </div>
                          <!-- skill end -->

                      </div>
                      <!-- language skills end -->

                      <!-- divider -->
                      <div class="ls-divider"></div>

                      <!-- knowledge list -->
                      <ul class="knowledge-list p-15-0">
                          <!-- list item -->
                          <li>Bootstrap</li>
                          <!-- list item -->
                          <li>REST API</li>
                          <!-- list item -->
                          <li>Automações com GAS</li>
                          <!-- list item -->
                          <li>GIT, GITFlow</li>
                      </ul>
                      <!-- knowledge list end -->

                      <!-- divider -->
                      <div class="ls-divider"></div>

                      <!-- links frame -->
                      <div class="links-frame p-15-15">

                          <!-- download cv button -->
                          <a href="files/cv.txt" class="link" download>Download cv <i class="fas fa-download"></i></a>

                      </div>
                      <!-- links frame end -->

                  </div>
                  <!-- scroll frame end -->

                  <!-- sidebar social -->
                  <div class="ls-social">
                      <!-- social link -->
                      <a href="https://www.linkedin.com/in/kassia-fraga-178b7b1a7/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                      <!-- social link -->
                      <a href="https://gitlab.com/KassiaFraga" target="_blank"><i class="fab fa-gitlab"></i></a>
                      <!-- social link -->
                      <a href="https://www.instagram.com/kassia.mabily/" target="_blank"><i class="fab fa-instagram"></i></a>
                      <!-- social link -->
                      <a href="https://github.com/KassiaMabily" target="_blank"><i class="fab fa-github"></i></a>
                      <!-- social link -->
                      <a href="https://www.facebook.com/kassia.mabily" target="_blank"><i class="fab fa-facebook"></i></a>
                  </div>
                  <!-- sidebar social end -->

              </div>
              <!-- menu bar frame end -->

          </div>
          <!-- info bar end -->

          <!-- content -->
          <div class="content">

              <!-- curtain -->
              <div class="curtain"></div>

              <!-- top background -->
              <div class="top-bg" style="background-image: url(https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29kZXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80)">
                  <!-- overlay -->
                  <div class="top-bg-overlay"></div>
                  <!-- overlay end -->
              </div>
              <!-- top background end -->

              <!-- swup container -->
              <div class="transition-fade" id="swup">

                  <!-- scroll frame -->
                  <div id="scrollbar" class="scroll-frame">

                      {% block content %}{% endblock %}

                      {% comment %} <!-- container -->
                      <div class="container-fluid">

                          <!-- row -->
                          <div class="row">

                          <!-- col -->
                          <div class="col-lg-12">

                              <!-- section title -->
                              <div class="section-title">
                              <!-- title frame -->
                              <div class="title-frame">
                                  <!-- title -->
                                  <h4>Recommendations</h4>
                              </div>
                              <!-- title frame end -->
                              </div>
                              <!-- section title end -->

                          </div>
                          <!-- col end -->

                          <!-- col -->
                          <div class="col-lg-12">

                              <!-- slider container -->
                              <div class="swiper-container testimonial-slider" style="overflow: visible">
                              <!-- slider wrapper -->
                              <div class="swiper-wrapper">
                                  <!-- slide -->
                                  <div class="swiper-slide">

                                  <!-- testimonial -->
                                  <div class="a testimonial">
                                      <!-- testimonial body -->
                                      <div class="testimonial-body">
                                      <!-- photo -->
                                      <img class="testimonial-face" src="img/testimonials/face-1.jpg" alt="face">
                                      <!-- name -->
                                      <h5>Paul Trueman</h5>
                                      <div class="el-suptitle mb-15">Template author</div>
                                      <!-- text -->
                                      <div class="mb-15">Working with Artur has been a pleasure. Better yet - I alerted them of a minor issue before going to sleep. The issue was fixed the next morning. I couldn't ask for better support. Thank you Artur!
                                          This is easily a 5 star freelancer.</div>
                                      </div>
                                      <!-- testimonial body end -->
                                      <!-- testimonial footer -->
                                      <div class="testimonial-footer">
                                      <div class="left-side">
                                          <!-- star rate -->
                                          <ul class="star-rate">
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                          </ul>
                                          <!-- star rate end -->
                                      </div>
                                      <div class="right-side">

                                      </div>
                                      </div>
                                      <!-- testimonial footer end -->
                                  </div>
                                  <!-- testimonial end -->

                                  </div>
                                  <!-- slide end -->

                                  <!-- slide -->
                                  <div class="swiper-slide">

                                  <!-- testimonial -->
                                  <div class="a testimonial">
                                      <!-- testimonial body -->
                                      <div class="testimonial-body">
                                      <!-- photo -->
                                      <img class="testimonial-face" src="img/testimonials/face-2.jpg" alt="face">
                                      <!-- name -->
                                      <h5>Paul Trueman</h5>
                                      <div class="el-suptitle mb-15">Template author</div>
                                      <!-- text -->
                                      <div class="mb-15">Working with Artur has been a pleasure. Better yet - I alerted them of a minor issue before going to sleep. The issue was fixed the next morning. I couldn't ask for better support. Thank you Artur!
                                          This is easily a 5 star freelancer.</div>
                                      </div>
                                      <!-- testimonial body end -->
                                      <!-- testimonial footer -->
                                      <div class="testimonial-footer">
                                      <div class="left-side">
                                          <!-- star rate -->
                                          <ul class="star-rate">
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                          <li class="empty-item"><i class="fas fa-star"></i></li>
                                          </ul>
                                          <!-- star rate end -->
                                      </div>
                                      <div class="right-side">

                                      </div>
                                      </div>
                                      <!-- testimonial footer end -->
                                  </div>
                                  <!-- testimonial end -->

                                  </div>
                                  <!-- slide end -->

                                  <!-- slide -->
                                  <div class="swiper-slide">

                                  <!-- testimonial -->
                                  <div class="a testimonial">
                                      <!-- testimonial body -->
                                      <div class="testimonial-body">
                                      <!-- photo -->
                                      <img class="testimonial-face" src="img/testimonials/face-3.jpg" alt="face">
                                      <!-- name -->
                                      <h5>Paul Trueman</h5>
                                      <div class="el-suptitle mb-15">Template author</div>
                                      <!-- text -->
                                      <div class="mb-15">Working with Artur has been a pleasure. Better yet - I alerted them of a minor issue before going to sleep. The issue was fixed the next morning. I couldn't ask for better support. Thank you Artur!
                                          This is easily a 5 star freelancer.</div>
                                      </div>
                                      <!-- testimonial body end -->
                                      <!-- testimonial footer -->
                                      <div class="testimonial-footer">
                                      <div class="left-side">
                                          <!-- star rate -->
                                          <ul class="star-rate">
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                          </ul>
                                          <!-- star rate end -->
                                      </div>
                                      <div class="right-side">

                                      </div>
                                      </div>
                                      <!-- testimonial footer end -->
                                  </div>
                                  <!-- testimonial end -->

                                  </div>
                                  <!-- slide end -->

                                  <!-- slide -->
                                  <div class="swiper-slide">

                                  <!-- testimonial -->
                                  <div class="a testimonial">
                                      <!-- testimonial body -->
                                      <div class="testimonial-body">
                                      <!-- photo -->
                                      <img class="testimonial-face" src="img/testimonials/face-4.jpg" alt="face">
                                      <!-- name -->
                                      <h5>Paul Trueman</h5>
                                      <div class="el-suptitle mb-15">Template author</div>
                                      <!-- text -->
                                      <div class="mb-15">Working with Artur has been a pleasure. Better yet - I alerted them of a minor issue before going to sleep. The issue was fixed the next morning. I couldn't ask for better support. Thank you Artur!
                                          This is easily a 5 star freelancer.</div>
                                      </div>
                                      <!-- testimonial body end -->
                                      <!-- testimonial footer -->
                                      <div class="testimonial-footer">
                                      <div class="left-side">
                                          <!-- star rate -->
                                          <ul class="star-rate">
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                          <li><i class="fas fa-star"></i></li>
                                          </ul>
                                          <!-- star rate end -->
                                      </div>
                                      <div class="right-side">

                                      </div>
                                      </div>
                                      <!-- testimonial footer end -->
                                  </div>
                                  <!-- testimonial end -->

                                  </div>
                                  <!-- slide end -->

                              </div>
                              <!-- slider wrapper end -->
                              </div>
                              <!-- slider container end -->

                          </div>
                          <!-- col end -->

                          <!-- col -->
                          <div class="col-lg-12">

                              <!-- slider navigation -->
                              <div class="slider-navigation">

                              <!-- left side -->
                              <div class="sn-left">

                                  <!-- slider pagination -->
                                  <div class="swiper-pagination"></div>

                              </div>
                              <!-- left side end -->

                              <!-- right side -->
                              <div class="sn-right">

                                  <!-- slider navigation -->
                                  <div class="slider-nav-frame">
                                  <!-- prev -->
                                  <div class="slider-nav testi-swiper-prev"><i class="fas fa-chevron-left"></i></div>
                                  <!-- next -->
                                  <div class="slider-nav testi-swiper-next"><i class="fas fa-chevron-right"></i></div>
                                  </div>
                                  <!-- slider navigation -->

                              </div>
                              <!-- right side end -->

                              </div>
                              <!-- slider navigation end -->

                          </div>
                          <!-- col end -->

                          </div>
                          <!-- row end -->

                      </div>
                      <!-- container end --> {% endcomment %}

                      <!-- container -->
                      <div class="container-fluid">

                          <!-- footer -->
                          <footer>
                              <!-- copyright -->
                              <div>© 2021 Kassia Fraga</div>
                              <!-- author ( Please! Do not delete it. You are awesome! :) -->
                          </footer>
                          <!-- footer end -->

                      </div>
                      <!-- container end -->

                  </div>
                  <!-- scroll frame end -->

              </div>
              <!-- swup container end -->

          </div>
          <!-- content end -->

          <!-- menu bar -->
          <div class="menu-bar">

              <!-- menu bar frame -->
              <div class="menu-bar-frame">

                <!-- menu bar header -->
                <div class="menu-bar-header">
                    <!-- menu bar button -->
                    <a class="menu-bar-btn" href="#.">
                        <!-- icon -->
                        <span></span>
                    </a>
                    <!-- menu bar button end -->
                </div>
                <!-- menu bar header end -->

                <!-- current page title -->
                <div class="current-page"></div>
                <!-- current page title end -->

                <!-- scroll frame -->
                <div class="scroll-frame">

                  <!-- menu -->
                  <nav id="swupMenu">
                      <!-- menu list -->
                      <ul class="main-menu">
                          <!-- menu item -->
                          <li class="menu-item current-menu-item"><a href="/nazar/arter-demo/home.html">{% trans 'Início' %}</a></li>
                          <!-- menu item -->
                          <li class="menu-item"><a href="/nazar/arter-demo/history.html">{% trans 'Portifólio' %}</a></li>
                          <!-- menu item -->
                          <li class="menu-item"><a href="/nazar/arter-demo/contact.html">{% trans 'Contato' %}</a></li>
                          <!-- menu item -->
                          <li class="menu-item"><a href="onepage.html" target="_blank">Blog</a></li>
                      </ul>
                      <!-- menu list end -->
                  </nav>
                  <!-- menu end -->

                  <!-- language change -->
                  <div id="version-switcher">
                      <ul id="doc-languages" class="language-switcher">
                          {% get_current_language as LANGUAGE_CODE %}
                          {% get_available_languages as LANGUAGES %}
                          {% for language in LANGUAGES %} 
                              {% if language.0 != LANGUAGE_CODE %}
                                  <li data-value="{{ language.0 }}" class="other" ><a href="#.">{{ language.0 }}</a></li> 
                              {% endif %}
                          {% endfor %}
                          <li data-value="{{ LANGUAGE_CODE}}" class="current active-lang" ><a href="#.">{{ LANGUAGE_CODE }}</a></li>
                      </ul>
                  </div>
                  <!-- language change end -->

                </div>
                <!-- scroll frame end -->
              </div>
              <!-- menu bar frame -->

          </div>
          <!-- menu bar end -->

        </div>
        <!-- app container end -->

      </div>
      <!-- app wrapper end -->
    
      <!-- preloader -->
      <div class="preloader">
          <!-- preloader content -->
          <div class="preloader-content">
              <!-- title -->
              <h4>Kassia Fraga</h4>
              <!-- progressbar -->
              
              <div id="preloader" class="preloader-load"></div>
          </div>
          <!-- preloader content end -->
      </div>
      <!-- preloader end --> 

    </div>
    <!-- app end -->
            

         
    <script src="{% static 'js/plugins/jquery.min.js' %}"></script>
    <script src="{% static 'js/plugins/anime.min.js' %}"></script>
    <script src="{% static 'js/plugins/swiper.min.js' %}"></script>
    <script src="{% static 'js/plugins/progressbar.min.js' %}"></script>
    <script src="{% static 'js/plugins/smooth-scrollbar.min.js' %}"></script>
    <script src="{% static 'js/plugins/overscroll.min.js' %}"></script>
    <script src="{% static 'js/plugins/typing.min.js' %}"></script>
    <script src="{% static 'js/plugins/isotope.min.js' %}"></script>
    <script src="{% static 'js/plugins/fancybox.min.js' %}"></script>
    <script src="{% static 'js/plugins/swup.min.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
        
</body>
</html>
