{% extends "base/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

    <!-- container -->
    <div class="container-fluid">

        <!-- row -->
        <div class="row p-60-0 p-lg-30-0 p-md-15-0">
            <!-- col -->
            <div class="col-lg-12">

                <!-- banner -->
                <div class="a banner" style="background-image: url(https://www.capixabadagema.com.br/wp-content/uploads/2016/06/Cidade-de-Vit%C3%B3ria-10.jpg)">
                    <!-- banner back -->
                    <div class="banner-back"></div>
                    <!-- banner dec -->
                    <div class="banner-dec"></div>
                    <!-- banner overlay -->
                    <div class="banner-overlay">
                        <!-- main title -->
                        <div class="banner-title">
                            <!-- title -->
                            <h1 class="mb-15">{% trans 'Um pouco sobre o meu <br /> trabalho...'%}</h1>
                            <!-- suptitle -->
                            <div class="lg-text code mb-25">&lt;<i>code</i>&gt; {% trans 'Eu construo' %} <span class="txt-rotate" data-period="2000"
                                data-rotate='[{{ phrase }}]'></span>&lt;/<i>code</i>&gt;</div>
                            <div class="buttons-frame">
                                <!-- button -->
                                <a href="/nazar/arter-demo/portfolio-3-col-masonry.html" class="btn btn-md"><span>{% trans 'Visualizar' %}</span></a>
                            </div>
                        </div>
                        <!-- main title end -->
                        <!-- photo -->
                        <img src="{% static 'images/avatar.png' %}" class="banner-photo" alt="Kassia Fraga">
                    </div>
                    <!-- banner overlay end -->
            </div>
            <!-- banner end -->

            </div>
            <!-- col end -->
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->

    <!-- container -->
    <div class="container-fluid">

        <!-- row -->
        <div class="row p-30-0">

            <!-- col -->
            <div class="col-md-4 col-6">

                <!-- couner frame -->
                <div class="counter-frame">
                    <!-- counter -->
                    <div class="counter-box">
                        <!-- counter number -->
                        <span class="counter">3</span><span class="counter-plus">+</span>
                    </div>
                    <!-- counter end -->
                    <!-- title -->
                    <h6>{% trans 'anos de experiência' %}</h6>
                </div>
                <!-- couner frame end -->

            </div>
            <!-- col end -->

            <!-- col -->
            <div class="col-md-4 col-6">

                <!-- couner frame -->
                <div class="counter-frame">
                    <!-- counter -->
                    <div class="counter-box">
                        <!-- counter number -->
                        <span class="counter">5</span>
                    </div>
                    <!-- counter end -->
                    <!-- title -->
                    <h6>{% trans 'projetos completos' %}</h6>
                </div>
                <!-- couner frame end -->

            </div>
            <!-- col end -->

            <!-- col -->
            <div class="col-md-4 col-6">

                <!-- couner frame -->
                <div class="counter-frame">
                    <!-- counter -->
                    <div class="counter-box">
                        <!-- counter number -->
                        <span class="counter">5</span>
                    </div>
                    <!-- counter end -->
                    <!-- title -->
                    <h6>{% trans 'certificados' %}</h6>
                </div>
                <!-- couner frame end -->

            </div>
            <!-- col end -->
        </div>
        <!-- row end -->

    </div>
    <!-- container end -->

    <!-- container -->
    <div class="container-fluid">

        <!-- row -->
        <div class="row">

            <!-- col -->
            <div class="col-lg-12">

                <!-- section title -->
                <div class="section-title">
                    <!-- title frame -->
                    <div class="title-frame">
                        <!-- title -->
                        <h4>{% trans "Meus serviços" %}</h4>
                    </div>
                    <!-- title frame end -->
                </div>
                <!-- section title end -->

            </div>
            <!-- col end -->

            <!-- col -->
            <div class="col-lg-4 col-md-6">

                <!-- service -->
                <div class="a service-icon-box">
                    <!-- service content -->
                    <div class="service-ib-content">
                        <!-- title -->
                        <h5 class="mb-15">{% trans "Desenvolvimento WEB" %}</h5>
                        <!-- text -->
                        <div class="mb-15">{% trans "Construção de plataformas operacionais usando REST APIs" %}</div>
                        <!-- button -->
                        {% comment %} <div class="buttons-frame"><a href="/nazar/arter-demo/contact.html" class="link color-link w-chevron">Order now</a></div> {% endcomment %}
                    </div>
                    <!-- service content end -->
                </div>
                <!-- service end -->

            </div>
            <!-- col end -->

            <!-- col -->
            <div class="col-lg-4 col-md-6">

                <!-- service -->
                <div class="a service-icon-box">
                    <!-- service content -->
                    <div class="service-ib-content">
                        <!-- title -->
                        <h5 class="mb-15">{% trans 'Paineis de dados' %}</h5>
                        <!-- text -->
                        <div class="mb-15">{% trans "Construção de painéis interativos e integrados a diversas aplicações usando Google DataStudio ou Microsoft PowerBI" %}</div>
                        <!-- button -->
                        {% comment %} <div class="buttons-frame"><a href="/nazar/arter-demo/contact.html" class="link color-link w-chevron">Order now</a></div> {% endcomment %}
                    </div>
                    <!-- service content end -->
                </div>
                <!-- service end -->

            </div>
            <!-- col end -->

            <!-- col -->
            <div class="col-lg-4 col-md-6">

                <!-- service -->
                <div class="a service-icon-box">
                    <!-- service content -->
                    <div class="service-ib-content">
                        <!-- title -->
                        <h5 class="mb-15">{% trans "Automatização de tarefas" %}</h5>
                        <!-- text -->
                        <div class="mb-15">{% trans "Criação de aplicações no Google Workspace para automatizar processos rotineiros" %}</div>
                        <!-- button -->
                    </div>
                    <!-- service content end -->
                </div>
                <!-- service end -->

            </div>
            <!-- col end -->

        </div>
        <!-- row end -->

    </div>
    <!-- container end -->

{% endblock %}